<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/chad-ostler-534790102?trk=nav_responsive_tab_profile" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/chinzo94" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#five" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="Scripts/Lib/jquery/dist/jquery.min.js"></script>
			<script src="Scripts/Lib/jquery/dist/jquery.scrolly.min.js"></script>
			<script src="Scripts/Lib/jquery/dist/jquery.dropotron.min.js"></script>
			<script src="Scripts/Lib/jquery/dist/jquery.scrollex.min.js"></script>
			<script src="Scripts/Lib/jquery/dist/skel.min.js"></script>
			<script src="Scripts/Lib/jquery/dist/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="Scripts/Lib/jquery/dist/main.js"></script>

	</body>
</html>