<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="../index.ejs">Logo</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="../index.ejs">Home</a></li>
							<li><a href="#one">About</a></li>
							<li><a href="#two">Experience</a></li>
                            <li><a href="#three">Services</a></li>
                            <li><a href="#four">Projects</a></li>
                            <li><a href="#five">Contact</a></li>
						</ul>
					</nav>
				</header>