<!-- 
    Page: index.ejs
    Author: Chad Ostler
    Design: HTML5UP
    Description: Body of the webpage, contains text content and links to work and images
 -->
<% include Partials/head %>
<% include Partials/header %>
    		<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Chad Ostler</h2>
							<p>Computer Programmer Analyst<br />
							Student at Georgian College</p>
						</header>
						<span class="image"><img src="images/Cover.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!--About Me -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/chinzo.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>About Me</h2>
										<p>Who Am I?</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Hi, my name is Chad, and I am a student currently enrolled 
                                        in the Computer Programmer Analyst Program at Georgian College.
                                        I am always looking to challenge myself, advance my skills and
                                        evolve in the ever growing world of technology.
                                    </p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>In my spare time I enjoy 3D rendering and applying my programming
                                        kowledge to solve any problems I may come across. 
                                    </p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Experience -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/experience.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Experience</h2>
							<p>What have I done?</p>
						</header>
						<p>I have been learning programming for 5 years and have had
                            experience with languages such as Java, C#, HTML, SQL and 
                            many more. I plan to experience more languages aswell as
                            continue developing the ones I already know.
                        </p>
						<ul class="actions">
							<li><a href="#banner" class="button">To Top</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Service -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/code.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Services</h2>
							<p>What can I do for you?</p>
						</header>
						<p>As I expand my knowledge in programming I enjoy challenging myself and helping others
                            with their programming needs. I can build responsive webpages, write simple c# and java 
                            applications and query databases. I am not limited to these things and enjoy learning 
                            new things to expand my programming skills.
                        </p>
						<ul class="actions">
							<li><a href="#banner" class="button">To Top</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Projects -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Projects</h2>
							<p>Click the titles to view pages.</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-anchor"></span>
									<a href="http://gc200301048.computerstudi.es/Web%20and%20Internet%20Fundamentals/Project-1/"><h3>Pirate Ships</h3></a>
									<p>One of my earlier webpages</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-users"></span>
									<a href="http://gc200301048.computerstudi.es/Intro%20to%20Web%20Programming/Assignment2/login.php"><h3>Employee Management</h3></a>
									<p>A management website linked to a database</br>Username:admin | Password:admin</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-picture-o"></span>
									<a href="http://gc200301048.computerstudi.es/Intro%20to%20Web%20Programming/Lesson12/login.php"><h3>Image Gallery</h3></a>
									<p>A Management Site with Image Gallery</br>Username:test | Password:test</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-hand-o-up"></span>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-hand-o-up"></span>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-hand-o-up"></span>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#banner" class="button">To Top</a></li>
							</ul>
						</footer>
					</div>
				</section>

<% include contact %>			
<% include Partials/footer %>		